* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    background-color: #fff8f0
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logo img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.logo h1 {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #e88ca5;
}

.hero {
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 60px 50px;
    background-color: #fff1e6;
    gap: 80px;
}

.hero-text {
    max-width: 600px;
    text-align: center;
}

.hero-text p:first-child {
    color: #e88ca5;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-text h2 {
    font-size: 42px;
    color: #4b3b3b;
    margin-bottom: 20px;
}

.hero-text h2+p {
    color: #6b5b5b;
    font-size: 18px;
    line-height: 1.6px;
    margin-bottom: 30px;
}

.hero-text a {
    display: inline-block;
    padding: 14px 28px;

    background-color: #e88ca5;
    color: white;

    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
}

.hero-text a:hover {
    transform: translateY(-3px);
    background-color: #b34764;

}

.hero-image img {
    width: 220px;
    animation: float 2s ease-in-out infinite;
}

.menu {
    padding: 70px 50px;
    background-color: #fffaf5;
}

.menu-title {
    text-align: center;
    margin-bottom: 40px;
    
}

.menu-title h2 {
    font-size: 36px;
    color: #4b3b3b;
    margin: 10px 0;
}

.menu-title >p:first-child {
    color: #e88ca5;
    font-weight: bold;
}

.menu-character {
    display: center;
    text-align: center;
}

.menu-character img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    
}

.menu-card {
   width: 100%;
    display: block;
    background-color: rgb(255, 244, 249);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.menu-card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.menu-card-content {
    padding: 20px;
}

.menu-card-content h3 {
    font-size: 24px;
    color: #4b3b3b;
    margin-bottom: 10px;
}

.menu-card-content p {
    color: #6b5b5b;
    line-height: 1.5;
    margin-bottom: 10px;
}

.menu-card-content span {
    color: #e88ca5;
    font-size: 20px;
    font-weight: bold;
}

.menu-card:hover {
    transform: translateY(-8px);
}

.menu-card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    max-width: 1000px;
    margin: 0 auto;
}


.hero-image {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd9e3;
    border-radius: 50%;
}

.menu-card-character {
    flex-shrink: 0;
}

.menu-card-character img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
/* Usagi */
.menu-card-character {
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

.menu-card-character img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-top: 19px;
}
/* hachiware */
.menu-card-character1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.menu-card-character1 img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

/* Chiiwaka */
.menu-card-character2 {
    display: flex; 
    justify-content: center;
    margin-top: 1px;
}

.menu-card-character2 img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-top: 19px;
}

.menu-filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.menu-filters button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;

    background-color: #ffe0e9;
    color: #4b3b3b;

    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.menu-filters button:hover {
    background-color: #e88ca5;
    color: white;
}

.about-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

   
    justify-content: center;
    align-items: center;
    
    z-index: 1000;
}

.about-box {
    position: relative;
    width: 500px;
    padding: 40px;

    background-color: #ffecf9;
    border-radius: 25px;

    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.about-box h2 {
    font-size: 36px;
    color: #ffbaf9;
    margin-bottom: 12px;
}

.close-about {
    position: absolute;
    top: 15px;
    right: 20px;

    border:none;
    background: none;
    display: flex;

    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.close-about:hover {
    color: #e88ca5;
}

.about-character {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 5px;
}

.about-box {
    animation: aboutOpen 0.3s ease;
}

.about-box p {
    font-weight: bold;
}

.about-modal.closing {
    animation: modalClose 0.3s ease forwards;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes aboutOpen {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalClose {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}