* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    background-color: #fff8f0
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-size: 30px;
}

.logo h1 {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #e88ca5;
}

.hero {
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 60px 50px;

    background-color: #fff1e6;
}

.hero-text {
    max-width: 600px;
    text-align: center;
}

.hero-text p:first-child {
    color: #e88ca5;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-text h2 {
    font-size: 42px;
    color: #4b3b3b;
    margin-bottom: 20px;
}

.hero-text h2+p {
    color: #6b5b5b;
    font-size: 18px;
    line-height: 1.6px;
    margin-bottom: 30px;
}

.hero-text a {
    display: inline-block;
    padding: 14px 28px;

    background-color: #e88ca5;
    color: white;

    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
}

.hero-text a:hover {
    transform: translateY(-3px);
    background-color: #b34764;

}
